<%= flash[:notice] %>
<%= flash[:error] %><br>
  <ul class="product-list clearfix">
    <% for product in @products do %>
      <li>
        <span class="price">
          <%= product.price.to_vk %>
        </span>
        <%= link_to small_image(product), vkshow_path(:id => product.id) %>
        <h4>
          <%= product.name %>
        </h4>
      </li>
    <% end %>
  </ul>
